.Audit-section {
  color: #fff;
  padding: 70px 20px;
  text-align: center;
}

.Audit-heading {
  font-size: 36px;
  font-weight: bold;
  margin-top: 30px;
  font-family: "Euclid Circular A";
}

.Audit-text {
  font-size: 18px;
  font-family: "Euclid Circular A";
  margin-bottom: 20px;
  margin-top: 10px;
  text-indent: 15px;
}
.subheading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
 margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 15px;
  margin-left:15px;
  text-align:center;
}

.button {
  background-color: #fff;
  color: #0d0e0e;
  font-size: 18px;
  font-family: "Euclid Circular A";
  font-weight: bold;
  margin-top: 40px;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

img.audit-image {
  width: 100%;
  margin:  auto;
  height: auto;
}

@media (min-width: 768px) {
  .Audit-section {
    padding: 120px 20px;
  }

  .Audit-heading {
    font-size: 60px;
  }

  .Audit-text {
    font-size: 20px;
    text-indent: 18px;
    max-width: 800px;
    text-align: center;
  }
  .subheading-container {
    font-size: 40px;
      margin-right: 30px;
  margin-left: 30px;
  }

  img.audit-image {
    width: 75%; 
    height: 450px;
  }
}
